version: "3.9"

services:

  blockchain:
    build:
      context: .
      dockerfile: Dockerfile.node
    ports:
      - "3000:3000"
    env_file:
      - .env

  flask:
    build:
      context: .
      dockerfile: Dockerfile.flask
    ports:
      - "5000:5000"
    depends_on:
      - blockchain
      
